.row    {
background-color: black;
color: white;
}

header  {
text-align: center;
color: white;
background-color: red;
font-size: 50px;
}

body    {
background-color: red;
}

.höpö       {
    background-color: blue;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.c-css-slider {
    position: relative;
 }
 

 
 .c-css-slider__input {
    display: none;
 }

 
 .c-css-slider__slides-wrapper {
    position: relative;
    overflow: hidden;
 
    width: 100%;
 }
 

 
 .c-css-slider__slides-wrapper .c-css-slider__slides {
    display: flex;
    padding: 0;
 
    width: 200%; // 300% for 3 slides, etc.
 
    line-height: 0;
 
    transition: all 800ms cubic-bezier(.770,.000,.175,1.000);
 }
 
 #slide1:checked ~ .c-css-slider__slides-wrapper .c-css-slider__slides {
    margin-left: 0;
 }
 
 #slide2:checked ~ .c-css-slider__slides-wrapper .c-css-slider__slides {
    margin-left: -100%; // next slide will have margin-left: -200%
 }
 

 
 .c-css-slider__slide {
    width: calc(100% / 2); // calc(100% / 3) for three slides
 }
 
 .c-css-slider__slide img {
    display: block;
 
    width: 100%;
    max-width: 100%;
    height: auto;
 }

 .c-css-slider__arrows,
.c-css-slider__arrows .c-css-slider__arrow,
.c-css-slider__slides-wrapper,
.c-css-slider__pagination,
.c-css-slider__pagination .c-css-slider__bullet {
   transition: all .5s ease-out;
}

/* Pagination
========================================================================== */

.c-css-slider__pagination {
   position: absolute;
   z-index: 5;
   bottom: 22px;
   left: 50%;

   display: flex;

   height: 10px;

   transform: translateX(-50%);
   text-align: center;

   align-items: center;
   justify-content: center;
}

.c-css-slider__pagination .c-css-slider__bullet {
   display: flex;

   width: 10px;
   height: 10px;
   margin: 0 4px;

   cursor: pointer;

   border-radius: 100%;
   background-color: $color-white;

   flex-shrink: 0;
}

#slide1:checked ~ .c-css-slider__pagination .c-css-slider__bullet:nth-child(1),
#slide2:checked ~ .c-css-slider__pagination .c-css-slider__bullet:nth-child(2) {
   background-color: $color-red;
}

/* Navigation
========================================================================== */

.c-css-slider__arrows {
   position: absolute;
   top: 50%;
   left: 50%;

   width: 100%;

   transform: translate(-50%, -50%);
}

.c-css-slider__arrows .c-css-slider__arrow {
   display: none;

   width: 64px;
   height: 32px;

   cursor: pointer;
   transition: opacity .2s ease-out;

   flex-shrink: 0;
   justify-content: center;
   align-items: center;

   &:hover {
       opacity: .8;
   }
}

.c-css-slider__arrow-right,
.c-css-slider__arrow-left {
   .o-icon {
       font-size: 16px;

       fill: $color-white;
   }
}

#slide1:checked ~ .c-css-slider__arrows .c-css-slider__arrow:nth-child(2) {
   display: flex;
   float: right;

   .c-css-slider__arrow-right {
       display: flex;
   }
   .c-css-slider__arrow-left {
       display: none;
   }
}

#slide2:checked ~ .c-css-slider__arrows .c-css-slider__arrow:nth-child(1) {
   display: flex;
   float: left;

   .c-css-slider__arrow-left {
       display: flex;
   }
   .c-css-slider__arrow-right {
       display: none;
   }
}