h1  { 
text-align: center;
font-style:italic;
}
h2  {
padding-top: 30px;
padding-left: 50px;
font-size: 30px;
}

body  {
background-color: grey;
}

p{
padding-left: 50px;
padding-right: 250px;
}

p.b {
  word-spacing: 2.9cm;
  padding-left: 100px;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
}

main{ 
  background-color: grey;  
}



footer  {
background-color:#333;
color: white;
text-align: right;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 113.5px;
text-decoration: none;
}

li a:hover {
background-color: #111
}