h1  { 
text-align: center;
font-style:italic;
text-shadow: 3px 3px dimgray;
}
h2  {
padding-top: 30px;
padding-left: 50px;
font-size: 30px;
}

body  {
background-image: url("https://i.pinimg.com/originals/e4/03/74/e40374e9cb805db9d175c3289ddf3cbb.jpg");
}

nav {
text-align: center;
padding-top: 50px;
background-color: lightgray;
}

section {
float: left;
width: 10%;
height: 681px;
}

footer  {
  float: left;
  width: 10%;
}


p{
padding-left: 50px;
padding-right:
float: left;
}

.kuvat    {
float: left;
max-height: 200px;
width: 25%;
text-align: center;
}




.i   {
padding-top: 30px;
padding-left: 50px;
max-width: 40%;
max-height: 30%;
}


header{
padding-top: 10px;
padding-bottom: 10px;
background-color: white; 
}

main{ 
  background-color: darkgray;  
  width: 80%;
  float: left;
  padding-bottom: 15px;
}


iframe    {
float: right;
}

a    {
  text-decoration: none;
  color: Black;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  }

  
  
  a:hover {
    color: white;
    transition: 1s;
    }  
  
