H1 {
    color: white);
    text-align: center;
    font-size: 20px;
  }

  body {
    background-color:black;
    color: white;
  }
  
  .jaahas {
    width: 100px;
    height: 100px;
    border: dotted 2px;

  }

 p  {
        font-size: 12px;
        color: green;
    
 }

 .a   {
     list-style-type: lower-alpha;
    
 }

.b   {
     list-style-type: square;
 }

 aimg{border-style: dotted 5px;}